// Color Palette
$color-1: #03045e;  // Dark navy blue
$color-2: #023e8a;  // Deep blue
$color-3: #0077b6;  // Strong blue
$color-4: #0096c7;  // Lighter blue
$color-5: #00b4d8;  // Bright aqua
$color-6: #48cae4;  // Soft aqua
$color-7: #90e0ef;  // Light sky blue
$color-8: #ade8f4;  // Pale blue
$color-9: #caf0f8;


$primary-color: #004e92; 
$secondary-color: #000428;
$accent-color: #ffce00;
$accent-hover: #e6b800;
$text-color: #ffffff;
$background-gradient: linear-gradient(to right, $primary-color, $secondary-color);

// Font

$font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
