@import '../abstracts-auth/_variable';

.my-events-page {
  padding: 2rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 2rem;
    }

    .filter-sort {
      display: flex;
      gap: 1rem;

      .filters {
        display: flex;
        gap: 0.5rem;

        button {
          background: white;
          border: 1px solid $primary-color;
          border-radius: 8px;
          padding: 0.5rem 1rem;
          color: $primary-color;
          font-weight: 600;

          &.active {
            background: $primary-color;
            color: white;
          }
        }
      }

      .sort-dropdown {
        select {
          padding: 0.5rem;
          border-radius: 8px;
          border: 1px solid $primary-color;
          color: $text-color;
        }
      }
    }
  }

  .event-list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .event-card {
      background: $card-bg;
      border-radius: $radius;
      box-shadow: $shadow;
      padding: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      .event-info {
        h4 {
          font-size: 1.2rem;
          color: $text-color;
        }

        .date {
          color: gray;
          margin-top: 0.25rem;
        }

        .status {
          margin-top: 0.5rem;
          font-weight: bold;
          color: $primary-color;
        }
      }

      .event-action {
        button {
          padding: 0.5rem 1.2rem;
          border: none;
          border-radius: $radius;
          font-weight: 600;

          &.modify-btn {
            background-color: $primary-color;
            color: white;
          }

          &.rate-btn {
            background-color: lightgray;
            color: $text-color;
          }
        }
      }
    }
  }
}
