@import '../abstracts-auth/_variable';

.event-details {
  width: 100%;         // Full screen width
  height: 100%;        // Full screen height
  padding: 40px;        // More padding to space out content
  font-family: 'Segoe UI', sans-serif;
  color: #070707;
  box-sizing: border-box;
  overflow-y: auto;     // Allows scrolling if content overflows
  background-color: #fdfdfd;

  .header-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: $text-color;
  }

  .event-image {
    width: 100%;
    height: 300px;         // Fixed height for consistency
    object-fit: cover;     // Crop image nicely
    border-radius: 8px;
    margin-bottom: 25px;
  }

  .info-section {
    margin-bottom: 30px;

    h3 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      color:$text-color;
    }

    .subtitle {
      font-size: 17px;
      color: $text-color;
      font-weight: bold;
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 16px;

        svg {
          margin-right: 10px;
          color: $text-color;
        }
      }
    }

    p {
      display: flex;
      align-items: center;
      font-size: 16px;

      svg {
        margin-right: 8px;
        color:$text-color;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    button {
      padding: 14px 26px;
      font-size: 16px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      width: 48%;
      transition: 0.3s ease-in-out;
    }

    .approve {
      background: $primary-color;
      color: white;

      &:hover {
        opacity: 0.9;
      }
    }

    .reject {
      background-color: #b82c1d;
      color: white;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
